# Note: You either need BING_SEARCH_API or SERPER_API_KEY, not both
TOGETHER_API_KEY=d00558579ee4f14abd08707ed56b98945c1a5fd3c81bb1d693841afae1e66586
BING_API_KEY=43a54c9fd6a243e946a8e985c1dbe67c58a88c1a
SERPER_API_KEY=no
HELICONE_API_KEY=sk-helicone-t4u6uhq-tmjueoy-tmlme3a-a52vc5a

